.header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
    flex: 0.05;
    display: flex; /* Enable Flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  
  @media (max-width: 600px) {
    .header {
      font-size: 16px;
    }
  }