/* src/styles/global.css */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.image {
  max-width: 100%;
  min-height: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-grow: 0;
  z-index: 1;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-width: 50%;
  padding: 10px;
  background-color: #f2f2f2;
  flex: 1; /* Set flex to 1 to take up all available space */
  z-index: 2; /* Ensure the input box is rendered above other elements */
}

.input-box input {
  flex: 1;
  margin-bottom: 10px;
  height: 100%;
}

.response-box {
  padding: 20px;
  margin-top: 10px;
  background-color: #e6f7ff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 0.45;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.response-box p {
  color: #333;
  font-size: 2.5vw; /* Set font size based on viewport width */
}

.header {
  position: relative;
  background: linear-gradient(to right, #3498db, #2353bb);
  color: #fff;
  padding: 10px;
  text-align: center;
  text-size-adjust: auto;
  flex: 0.05;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's above other content */
}


.spinner {
  border: 8px solid rgba(0, 0, 0, 0.3); /* Light border */
  border-top: 8px solid #3498db; /* Blue border */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Rotation animation */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* src/components/ErrorNotification.css */

/* src/components/ErrorNotification.css */

.error-notification {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e74c3c;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: slide-up 0.5s ease-in-out;
  z-index: 1001;
}


.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.close-button span {
  display: block;
  line-height: 1;
}

