/* src/styles/global.css */

.header {
  position: relative;
  background: linear-gradient(to right, #3498db, #053cb2);
  color: #fff;
  text-align: center;
  text-size-adjust: auto;
  flex: 0.05;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 10%;
  min-height: 0;
  z-index: 0;
  top: 0;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.header-text {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  position: static;
  border: 5px solid #333;
}

.logo-container {
  margin-right: 10px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;

}

.image {
  max-width: 100%;
  height: 100vh;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  z-index: 1;
}
.response-box {
  padding: 10px;
  max-width: 100%;
  min-height: 90vh;
  overflow-y: scroll;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  z-index: 1;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 5px;
  background-color: #f2f2f2;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc(100% - padding);
  z-index: 0;
}

/* Adjust the padding for smaller screens */
@media screen and (max-width: 600px) {
  .response-box {
    padding: 5px;
  }
}

/* Adjust the font size for smaller screens if needed */
@media screen and (max-width: 400px) {
  .response-box {
    font-size: 14px;
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's above other content */
}


.spinner {
  border: 8px solid rgba(0, 0, 0, 0.3); /* Light border */
  border-top: 8px solid #3498db; /* Blue border */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Rotation animation */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* src/components/ErrorNotification.css */

.error-notification {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e74c3c;
  color: #fff;
  padding: 10px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: slide-up 0.5s ease-in-out;
  z-index: 1001;
}


.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.close-button span {
  display: block;
  line-height: 1;
}

